/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /*border: 2px solid red;*/
  margin: 0;
  padding: 0;
}

/*HEADER SECTION*/

header{
  height: 500px;
  background-color: #3400ff;
}

nav{
  float: right;
  margin-right: 40px;
  margin-top: 15px;
  cursor: pointer;
}

.nav-item{
  margin-right: 20px;
  color: #fff;
}

.nav-item-active{
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #5a31fc;
  margin-right: 20px;
  font-weight: 400;
}

.logo{
  margin: 20px;
}

.header-text{
  color: #fff;
  margin-left: 60px;
  margin-top: 50px;
  float:left;
}

.header-image{
  float: right;

}

/* API Section*/

.companies{
  margin-top: 20px;
  margin-left: 60px;
}

.company-items{
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-left: 30px;
}

.api-heading{
  font-weight: 800;
  margin-left: 90px;
  margin-top: 100px;
  font-style: bold;
}

.cards{
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
  border-radius: 10px;
  }

  .card{
    width: 20%;
    height: 250px;
    background-color:#fff;
    margin-right: 30px;
  }

.card-active{
  width: 20%;
  height: 250px;
  background-color: transparent;
  margin-right: 30px;
  box-shadow:0px 5px 15px #000;
  padding: 10px;
  border-radius: 10px;
}

.card-logo{
  margin-left: 30px;
  margin-top: 30px;
}

.card-head-active{
  color: black;
  margin-left: 30px;
}

.card-body{
  color: black;
  font-size: small;
  margin-left:30px;
}

/*BLOG SECTION*/

h1{
  margin-top: 50px;
}

.blog-heading{
  margin-left: 90px;
}

.blog-cards{
  margin-left: 90px;
  display: flex;
  gap: 50px;
  margin-top: 50px;
  /*flex-direction: row;*/
}

.blog-card{
  height: 300px;
  width: 40%;
  display: flex;
  gap: 20px;
  box-shadow:0px 5px 15px #000;
  padding: 20px;

}

.blog-author{
  order: 1;
}

.blog-content{
  display: flex;
  flex-direction: column;
  order: 4;
  align-items: flex-start;
}

/*FAQ SECTION*/

.faq-section {
  padding: 0 0 0 60px;
  display: flex;
  align-items: center;
  background-color: #E6E6FA;
  height: 324px;
  margin-top: 50px;
}

.faq-content {
  flex-grow: 1;
}

.header-text h2{
  color: white;
}

h4 {
  width: 70%;
  margin: 10px 0;
  font-size: 14px;
}

.faq-section h2 {
  line-height: 45px;
  margin: 20px 0;
}

.faq-content > button {
  color: #ffffff;
  background-color: #4b4bf0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px 0;
}

.faq-image{
  margin-right: 250px;
}

/*Download Section*/

.download-section {
  padding: 120px 60px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
}

.download-content  span {
  font-weight: 400;
}

.download-email {
  width: 540px;
  background-color: #dfdddd;
  border-radius: 40px;
}

form {
  display: flex;
}

form > input {
  background-color: #dfdddd;
  background-color: #dfdddd;
  border: none;
  flex-grow: 1;
  padding: 15px 25px;
  border-radius: 40px;
}

form > input::placeholder{
  color: #1f1f1f;
  font-size: 14px;
}

form > button {
  border-radius: 40px;
  border: none;
  background-color: #4b4bf0;
  padding: 15px 35px;
  color: #ffffff;
}

/* Footer section*/

.logos-list{
  display: flex;
  gap: 50px;
  list-style: none;
}

.footer-section {
  padding: 100px 60px;
  background-color: #4b4bf0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 200px;
}

li {
  margin-top: 20px;
  display: inline-block;
  color: #ffffff;
  margin-right: 35px;
}

.list > li:nth-child(3) {
  position: relative;
}

.list > li:nth-child(4) {
  position: relative;
}

.list > li:nth-child(3)::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #ffffff;
  top: 5px;
  left: 50px;
}

.list > li:nth-child(3)::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #ffffff;
  top: 5px;
  right: 50px;
}

.list > li:nth-child(4)::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #ffffff;
  top: 5px;
  left: 60px;
}

.footer-logos {
  margin-left: 21px;
  margin-bottom: 10px;
}

.logos-list > li:nth-child(2) {
  position: relative;
}

.logos-list > li:nth-child(2)::after {
  content: '';
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #ffffff;
  top: 5px;
  left: 90px;
}

.logos-list > li:nth-child(2)::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 1px;
  background-color: #ffffff;
  top: 5px;
  right: 90px;
}